PRODUCT_BUNDLE_IDENTIFIER = cc.erzhiqian.jlptmasterdeck
SWIFT_VERSION = 5.0
IPHONEOS_DEPLOYMENT_TARGET = 17.0
TARGETED_DEVICE_FAMILY = 1,2
SUPPORTS_MACCATALYST = YES
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = YES
DERIVE_MACCATALYST_PRODUCT_BUNDLE_IDENTIFIER = NO
CODE_SIGN_STYLE = Automatic
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1
GOOGLE_REVERSED_CLIENT_ID = unconfigured.google.signin
#include? "Local.xcconfig"
